{% extends "base.html" %}

{% block content %}
        <h1>Build-A-Blog</h1>
        <hr>

Welcome to Build-A-Blog, home of the build-a-blog!

        <hr>
        <table>
            <tr><td>
        <form method="get" action="/blog">
            <input type="submit" value="Go to Blog">
        </form>
            </td>

            <td>
        <form method="get" action="/newpost">
            <input type="submit" value="Make a New Post">
        </form>
            </td>
            </tr>
        </table>
{% endblock %}
